#copyrights {
    padding: 2rem 0.5rem;

    color: #999;
    background-color: #e4c8e233;
    border-top: .01rem solid #ccc;

    width: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

    font-size: 14px;
    
    line-height: 1.8;
    text-align: center;
}